[Unit]
Description=Mouse hack
After=suspend.target

[Service]
ExecStart=/usr/bin/mousehack
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target