[Unit]
Description=Mouse hack
After=network.target
#BindsTo=sys-class-input-ringmouse.device
#After=sys-class-input-ringmouse.device

[Service]
ExecStart=/usr/bin/mousehack
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
#WantedBy=sys-class-input-ringmouse.device
WantedBy=multi-user.target